* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--vscode-editor-font-family, --vscode-font-family);
}

.row {
    display: flex;
    padding: 4px 0;
    align-items: center;
}

.d-none {
    display: none !important;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 12px;
}

.mr-4 {
    margin-right: 16px;
}

.mr-5 {
    margin-right: 20px;
}

.mr-0 {
    margin-right: 0;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 12px;
}

.ml-4 {
    margin-left: 16px;
}

.ml-5 {
    margin-left: 20px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 12px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-5 {
    margin-bottom: 20px;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.error {
    color: var(--vscode-errorForeground);
}

.success {
    color: var(--vscode-testing-iconPassed, #73c991);
}

.container {
    padding: 20px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

body {
    padding: 0;
}

h1,
h2,
h3 {
    padding-bottom: 8px;
}

#error-message-container,
#success-message-container {
    border-left: 3px solid var(--vscode-errorForeground);
    margin: 12px;
    color: var(--vscode-errorForeground);
    font-weight: bold;
    padding: 4px 12px;
    display: flex;
}

#success-message-container {
    border-color: var(--vscode-testing-iconPassed, #73c991);
    color: var(--vscode-testing-iconPassed, #73c991);
}

#error-message-container .codicon,
#success-message-container .codicon {
    font-size: 20px;
    margin-top: 2px;
}

#error-message,
#success-message {
    margin-left: 12px;
}

vscode-panel-view {
    flex-direction: column;
}

#connection-file .codicon-new-file {
    font-size: 20px;
}

#connection-file vscode-text-field {
    width: 100%;
}
