.row {
    display: flex;
    padding: 4px 0;
    align-items: center;
}

.container {
    padding: 20px;
}

body {
    padding: 0;
}

#error-message-container,
#success-message-container {
    border-left: 3px solid var(--color-error);
    margin: 12px;
    color: var(--color-error);
    font-weight: bold;
    padding: 4px 12px;
    display: flex;
}

#success-message-container {
    border-color: var(--color-success);
    color: var(--color-success);
}

#error-message-container .codicon,
#success-message-container .codicon {
    font-size: 20px;
    margin-top: 2px;
}

#error-message,
#success-message {
    margin-left: 12px;
}

vscode-panel-view {
    flex-direction: column;
}

#connection-file .codicon-new-file {
    font-size: 20px;
}

#connection-file vscode-text-field {
    width: 100%;
}